@model CommunityProj.Models.Book

@{
    ViewBag.Title = "Thanks";
}


<h2>Thanks</h2>

<p><h1>Thankyou for donating! Our library and community thanks you!</h1></p>


Return to @Html.ActionLink("Library","Index")

