@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Book Archive</h1></center>
    <center> <p class="lead">Welcome to the community library!</p></center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Library</h2>
        <p>
            Welcome to our community library! Please look around!
        </p>
        <p><a class="btn btn-default" href="/Books">Library</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donating</h2>
        <p>Help our Community grow! Register and donate a book!</p>
        <p><a class="btn btn-default" href="/Books/Create">Donate</a></p>
    </div>
    <div class="col-md-4">
        <h2>Request</h2>
        <p>For books you want.</p>
        <p><a class="btn btn-default" href="/AskBook/AskBook">Ask</a></p>
    </div>
</div>